<a href="https://colab.research.google.com/github/ppn101/Projects/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import StandardScaler #This will help standardize the data to a common range
from sklearn.model_selection import train_test_split #This will help with splitting the data into training data 
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
#Now i will proceed to data collection and analysis
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/diabetes.csv")

In [4]:
df.head(3) #Returning the first 3 rows in order to get a basic sense of the contents in the dataframe
#Here in this dataframe, in the outcomes column - 1 refers to the fact that the patient is diabetic while 0 represents that she is not a diabetic person. (The dataframe contains data for only females).

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [5]:
df.describe() #To get the statistical summary of the entire dataframe

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
df.shape #To get an insight into the number of columns and rows in the dataframe

(768, 9)

In [10]:
df["Outcome"].value_counts() #To get categorical counts for the outcome variable for diabetic and no diabetic people.

0    500
1    268
Name: Outcome, dtype: int64

In [15]:
df.groupby("Outcome").mean() #To check if there is significant difference between the two categories i.e 1 & 0

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [24]:
#Now, i will sepeare the dataframe into two seperate dataframes i.e feature and label
feature = df.drop(columns = "Outcome", axis = 1) 
label = df["Outcome"]
print(feature)
print(label)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [25]:
#Seeing the above outputs, i need to now standardize the data in order to bring it to a common range for the model to give better predictions.
scaler = StandardScaler() #Here i have selected our model for prediction.
standardized_data = scaler.fit_transform(feature) #This will fit the data in the same range.
x = standardized_data #Initializing in order to use a shorter name for the rest of the code.

In [35]:
#Now I will be splitting the data into training data and testing data
x_train, x_test, label_train, label_test = train_test_split(x, label, test_size= 0.05, random_state = 1, stratify = label)
#Here i have set stratifying to label so that there should be a similar proportion of instances with 0 and 1 in both train and test data, this is also done so that the constructed model is not biased towards predicting a specefic outcome value.

In [42]:
#Now i will check how the data has been split between training data and test data
print(x_train.shape)
print(x_test.shape)

(729, 8)
(39, 8)

In [45]:
#Now i select the svm model and set certain attributes for the same.
classifier = svm.SVC(kernel= "linear")

In [46]:
classifier.fit(x_train, label_train) #Training the model with training data for features and labels.

SVC(kernel='linear')

In [48]:
#Now since the model has been trained, i will check the accuracy score of the model for training data first
train_predict = classifier.predict(x_train)
train_accuracy = accuracy_score(train_predict, label_train)
print(round(train_accuracy,2)*100)

79.0

In [52]:
#Now, similarily i will check the accuracy for test data
test_predict = classifier.predict(x_test)
test_accuracy = accuracy_score(test_predict, label_test)
print(round(test_accuracy, 2)*100)
#I am getting a good accuracy for the model that i have built for predicting diabetes and the score that i am getting for test data is quite similar to the one that i am getting for train data.
#If there would have been a visibly high delta between the accuracy for training data and test data then, it would have been a sign of model being overtrained on training data such that it is gives a very high accuracy for train data but the accuracy drops for training data.

72.0

In [ ]:
#Now i will create a prediction system so that the model can be expanded for serving it's main use case.
input_data = ()#Here i can insert a csv row/instance as a list to predict the outcome from running the model

input_array = np.asarray(input_data) #Here i have converted the input list into an array for faster processing.

input_transform = input_array.reshape(1-1) #If i will not reshape the data, the model will be expecting more datapoints.

input_standardized = scaler.fit_transform(input_transform) #Since the input will not be standardized, this will ensure that the input data is standardized.

print(input_standardized) 

predict = classifier.predict(input_standardized) 
print(predict)

if (predict[0] == 1): #This is a conditional statement which i have written to complement the output that the model generates.
  print("Diabetic")
else:
  print("Not Diabetic")