<a href="https://colab.research.google.com/github/ppn101/Projects/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Importing the dependencies.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:
#Importing the dataset into a dataframe for further analysis.
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/heart_disease_data.csv")

In [11]:
df.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [12]:
#Getting information on the number of columns and rows in the dataframe.
df.shape

(303, 14)

In [13]:
#Getting statistical summary of the entire dataframe.
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [14]:
#Checking the datatypes of each columns in the dataframe.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [15]:
#Checking the count of null values in each columns in the dataframe.
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [16]:
#Checking the count of instances for each type in the target column.
df["target"].value_counts()
#Here 1 refers to people who have heart defects/ diseases while 0 refers to people with a healthy heart.

1    165
0    138
Name: target, dtype: int64

In [19]:
#Splitting the features and labels into two seperate dataframes.
features = df.drop("target", axis = 1)
label = df["target"]

In [20]:
print(features.shape)
print(label.shape)

(303, 13)
(303,)

In [33]:
#Splitting the dataframe into train and test dataframes respectively.
features_train, features_test, label_train, label_test = train_test_split(features, label, test_size= 0.1, stratify = label, random_state = 1)

In [34]:
print(features_train.shape)
print(features_test.shape)
print(label_train.shape)
print(label_test.shape)

(272, 13)
(31, 13)
(272,)
(31,)

In [37]:
#Selecting the type of model for handling classification problem
classifier = LogisticRegression()
classifier.fit(features_train, label_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [40]:
#Training the model on training data and getting accuracy of the predictions on this data.
predict_train = classifier.predict(features_train)
accuracy_train = accuracy_score(predict_train, label_train)
print(round(accuracy_train, 2)*100)

85.0

In [41]:
#Training the model on test data and getting accuracy of the predictions on this data.
predict_test = classifier.predict(features_test)
accuracy_test = accuracy_score(predict_test, label_test)
print(round(accuracy_test, 2)*100)

94.0

In [ ]:
#Building a model system for new input data.
input = ()

input_array = np.asarray(input)

input_transform = input_array.reshape(1,-1)

input_predict = classifier.predict(input_transform)
print (input_predict)

if (input_predict[0] == 1):
  print ("Sorry! Heart disease has been detected.")
else:
  print ("Wow! You have a healthy heart.")